.divTitulo{
    display: flex;
    align-items: center;
}
.divTitulo h2 {
    margin-right: 100px;
}
.productos-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.producto-card {
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 1.5rem;
  max-width: 300px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
  border: 1px solid #f1f2f6;
}

.producto-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}


.producto-imagen-container {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid #f1f2f6;
}

.producto-imagen {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.producto-card:hover .producto-imagen {
  transform: scale(1.08);
}

.producto-descripcion {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.producto-nombre{
 font-size: 1.25rem;
  color: #2d3436;
  margin: 0;
  font-weight: 600;   
}

.producto-precio {
  font-size: 1.5rem;
  font-weight: 700;
  color: #2d3436;
}
.btn-añadir {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.8rem;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
  margin-top: auto;
}
.btn-añadir:hover {
  background-color: #0056b3;
}

.productos-container a{
  text-decoration: none;
  color: #000;
}